
.list {
    height: 100%; 
    margin: 20px;
    gap: 20px ;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-width:500px) {
    
.list {
  height: 100%; 
  columns: 1;
  margin: 20px;
  gap: 20px ;
}
  }