.mainContentComponent {
  width: 100%;
  height: 70rem;
  margin-bottom: 5rem;
  margin-top: auto;
  background: url("/images/sectionBg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapCardComponent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 70%;
}
.tittleMainSection {
  font-family: "Baloo Thambi 2", cursive;
  color: #ee97c0;
  text-shadow: 2px 2px #e4f5ff;
  font-size: 20px;
}
@media screen and (max-width: 500px) {
  .wrapCardComponent {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 70rem;
  }
}
.teacherCard {
  width: 40%;
  background: #6aa4d9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  border: 2px solid #f7d58d;
  padding: 1rem 1rem 2rem;
  border: 5px double #fff4dd;
}

@media screen and (max-width: 500px) {
  .teacherCard {
    width: 90%;
    margin-top: 2rem;
  }
}

/*card starts here*/

.img {
  border-radius: 50px !important;
  margin-top: 5px !important;
}
.teacherName {
  font-family: "Baloo Thambi 2", cursive;
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 1rem;
}
.textProfession {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Baloo Thambi 2", cursive;
  color: #f6d386;
}
.teacherSocial {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.socialMediaItem:hover {
  cursor: pointer;
}
.proffessiontitle {
  margin: 0;
}
.proffessionParagraph {
  margin: 2rem 1rem;
}
